* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: myFont;
    src: url(myFont.ttf);
}

.container {
    /* height: 100vh; */
    width: 100vw;
    background: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
    padding: 36px 0px;
}

.heading {
    font-family: myFont;
    font-size: 48px;
    margin: 0px 0px 40px -18px;
    color: #C6A000;
}

.headingAbout {
    font-size: 44px;
    margin: 0px 0px 40px -18px;
    font-family: "Inter", sans-serif;
    position: relative;
    z-index: 2;
}

.left {
    width: 60vw;
    margin-left: 8%;
    margin-top: 3%;
    height: 78vh;
}

.right {
    width: 500px;
    margin-right: 8%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.paragraph {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.paragraphAbout {
    margin: 0px 0px 40px -18px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    width: 47vw;
}

ul li {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 22px 0px;
}

#about {
    background: url("aboutBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#service {
    background-image: none;
}

#ellipse {
    position: absolute;
    margin-left: -1222px;
    margin-bottom: -490px;
}

#rect1 {
    position: absolute;
    height: 10px;
    width: 190px;
    background-color: #FFD939;
    margin-top: -60px;
    margin-left: 180px;
    z-index: 1;
}

.leftService {
    width: 45vw;
    /* margin-left: 4%; */
    margin-top: 3%;
    height: 78vh;
}

#serviceUL {
    list-style: none;
}

#serviceUL li {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFD939;
    margin-right: 32px;
}

.line {
    position: absolute;
    width: 3px;
    background-color: #000;
    margin-top: 8px;
    left: 10.3%;
    transform: translateX(-50%);
    background-color: #FFD939;
    height: 320px;
    z-index: 100;
}

#leftintro {
    width: 50vw;
    margin-left: 8%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    background: url("introBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainheading {
    color: black;
    font-size: 84px;
    line-height: 127.9%;
}

.semibold {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: -10px 0px 0px -8px;
    position: relative;
    z-index: 5;
}
#introImage{
    margin-left: -100px;
    width: 600px;
}
#rect2 {
    position: absolute;
    height: 10px;
    width: 208px;
    background-color: #FFD939;
    margin-top: -13px;
    margin-left: 73px;
    z-index: 1;
}
@media  screen and (max-width:600px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        /* align-items: center;
        justify-content: center; */
        overflow-x: hidden;
    }
    #rect1, #rect2{
        display: none;
    }
    #mainheading {
        color: black;
        font-size: 60px;
        line-height: 127.9%;
    }
    .semibold {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        position: relative;
        z-index: 5;
    }
    .left {
        width: 100vw;
        margin-left: 12%;
        margin-top: 8%;
        margin-bottom: 20%;
        height: 60vh;
    }
    #leftIntro {
        width: 100vw;
        margin-left: -8%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #FFD939; */
    }
    #introImage{
        margin-left: 0px;
        width: 400px;
    }
    .paragraphAbout {
        margin: 0px 0px 40px -18px;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        line-height: 32px;
        text-align: justify;
        width: 78vw;
    }
    #logo{
        margin-top: 180px;
    }
    #serviceUL {
        list-style: none;
        margin-left: -20px;
        margin-bottom: 8%;
    }
    .line {
        position: absolute;
        width: 3px;
        background-color: #000;
        margin-top: 12px;
        left: 9.8%;
        transform: translateX(-50%);
        background-color: #FFD939;
        height: 310px;
        z-index: 10;
    }
    .headingAbout {
        font-size: 36px;
        margin: 0px 0px 40px -18px;
        font-family: "Inter", sans-serif;
        position: relative;
        z-index: 2;
    }
    .round {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FFD939;
        margin-right: 28px;
    }
    #serviceImage{
        margin: -20px 0px 60px 40px;
        width: 320px;
    }
    .right {
        width: 500px;
        margin-right: 8%;
    }
    .image{
        width: 400px;
        margin-top: 50px;
    }
    /* .heading{
        width: 70vw;
    } */
    ul{
        width: 70vw;
    }
    #serviceUL{
        width: 90vw;
    }
    #graphicImage{
        margin-top: -16%;
        margin-left: 50px;
        width: 300px;
        margin-bottom: 12%;
    }
    #adsImage{
        margin-top: -16%;
        margin-left: 50px;
        width: 300px;
        margin-bottom: 12%;
    }
    .heading {
        font-family: myFont;
        font-size: 40px;
        margin: 0px 0px 40px -18px;
        color: #C6A000;
    }
}